<section ng-form="scheduleTaskForm" ng-show="open" ng-keyup="keyUp($event)" tabindex="1" class="modal wizard modal-animation ng-hide" ng-controller="ScheduleTaskCtrl">
    <header>
        <a class="fa fa-times close-modal" ng-click="close()"></a>
        <h2 translate="BULK_ACTIONS.SCHEDULE_TASK.CAPTION">Template</h2>
    </header>
    <wizard edit-mode="false" name="scheduleTaskWz" on-finish="submit()" template="shared/partials/wizardNav.html">
        <wz-step wz-title="General" canexit="scheduleTaskForm.generalForm.$valid" wz-disabled="!scheduleTaskForm.generalForm.$valid" ng-form="generalForm" novalidate>
            <!-- First Step: General -->
            <div class="modal-content active">
                <div class="modal-body">
                    <div class="row">
                        <div ng-show="scheduleTaskForm.generalForm.$error.taskStartable" class="alert sticky warning">
                            <p translate="BULK_ACTIONS.SCHEDULE_TASK.GENERAL.CANNOTSTART"></p>
                        </div>
                        <div data-notifications="schedule-task"/>
                    </div>
                    <div class="full-col">
                        <div class="obj tbl-list">
                            <header>General <span class="header-value" translate="BULK_ACTIONS.SCHEDULE_TASK.GENERAL.SUMMARY" translate-values='{ count: rows.length}'></span></header>
                            <div class="obj-container">
                                <table class="main-tbl">
                                    <thead>
                                    <tr>
                                        <th class="small"><input type="checkbox" ng-model="allSelected" ng-change="allSelectedChanged(allSelected)" class="select-all-cbox"></th>
                                        <th class="full-width" translate="EVENTS.EVENTS.TABLE.TITLE">Title</th>
                                        <th class="full-width" translate="EVENTS.EVENTS.TABLE.SERIES">Series</th>
                                        <th class="full-width" translate="EVENTS.EVENTS.TABLE.WORKFLOW_STATE">Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr ng-repeat="row in rows" ng-form="rowsForm" ng-class="{error: rowsForm.selection.$error.taskStartable}">
                                        <td><input name="selection" ng-required="!hasAnySelected()" type="checkbox" task-startable="{{row.source}}" ng-model="row.selected" ng-change="rowSelectionChanged($index)" class="child-cbox"></td>
                                        <td>{{ row.title }}</td>
                                        <td>{{ row.series_name}}</td>
                                        <td>{{ row.source }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div><!-- obj-container -->

                        </div><!-- obj -->

                    </div>

                </div>

            </div><!-- modal-content [general] -->

            <footer>
                <a wz-next class="submit"
                   ng-class="{active: scheduleTaskForm.generalForm.$valid, disabled: scheduleTaskForm.generalForm.$invalid}">
                    {{ 'WIZARD.NEXT_STEP' | translate }}
                </a>
            </footer>
        </wz-step>

        <!-- Second Step: Task selection -->
        <wz-step wz-title="Select Task" ng-form="taskForm" novalidate canexit="taskForm.$valid">
            <div class="modal-content active">

                <div class="modal-body">
                    <div class="full-col">

                        <div class="obj list-obj">
                            <header translate="BULK_ACTIONS.SCHEDULE_TASK.TASKS.SELECT">Select Task</header>
                            <div class="obj-container">
                                <select chosen
                                        data-width="'100%'"
                                        ng-change="processing.changeWorkflow()"
                                        data-disable-search-threshold="8"
                                        not-empty-selection
                                        ng-model="processing.ud.workflow"
                                        ng-model-options="{ allowInvalid: true }"
                                        ng-options="w.title for w in processing.workflows"
                                        data-placeholder="{{ 'EVENTS.EVENTS.DETAILS.GENERAL.SELECT_WORKFLOW' | translate }}"
                                        no-results-text="'{{ 'EVENTS.EVENTS.DETAILS.GENERAL.SELECT_WORKFLOW_EMPTY' | translate }}'"
                                >
                                    <option value=""></option>
                                </select>

                                <div id="new-event-workflow-configuration"
                                     class="checkbox-container"
                                     ng-click="processing.save()"
                                     ng-bind-html="processing.workflowConfiguration"
                                     class="obj-container">
                                </div>

                            </div><!-- obj-container -->

                        </div><!--list-obj -->
                    </div><!-- full-col-->
                </div><!-- modal-body -->
            </div><!-- modal-content [task] -->
            <footer>
                <a wz-next class="submit"
                   ng-class="{active: taskForm.$valid, inactive: taskForm.$invalid}">
                    {{ 'WIZARD.NEXT_STEP' | translate }}
                </a>
                <a wz-previous translate="WIZARD.BACK" class="cancel">
                </a>
            </footer>
        </wz-step>

        <!-- Third step: Summary -->
        <wz-step wz-title="Select Task" novalidate canexit="true">
            <div class="modal-content active">
                <div class="modal-body">
                    <div class="full-col">
                        <div class="obj list-obj">
                            <header translat="BULK_ACTIONS.SCHEDULE_TASK.SUMMARY">Summary</header>
                            <div class="obj-container">
                                <ul>
                                    <li>
                                        <span translate="BULK_ACTIONS.SCHEDULE_TASK.SUMMARY.EVENTS">Events</span>
                                        <p translate="BULK_ACTIONS.SCHEDULE_TASK.SUMMARY.EVENTS_SUMMARY" translate-values="{numberOfEvents: numSelected()}">
                                            You have selected 44 events</p>
                                    </li>
                                    <li>
                                        <span translate="BULK_ACTIONS.SCHEDULE_TASK.SUMMARY.WORKFLOW"></span>
                                        <p>{{ processing.ud.workflow.selection.id }}</p>
                                    </li>
                                    <li>
                                        <span translate="BULK_ACTIONS.SCHEDULE_TASK.SUMMARY.CONFIGURATION"></span>
                                        <p ng-repeat="(key, value) in processing.ud.workflow.selection.configuration">{{key}}: {{value}}</p>
                                    </li>
                                </ul>
                            </div><!-- obj-container -->
                        </div>
                    </div>

                </div>
            </div><!-- modal-content [summary] -->
            <footer>
                <a wz-next class="submit"
                   ng-class="{active: schedulaTaskForm.$valid, inactive: scheduleTaskForm.$invalid, disabled: submitButton}">
                    {{ 'WIZARD.CREATE' | translate }}
                </a>
                <a wz-previous translate="WIZARD.BACK" class="cancel">
                </a>
            </footer>
        </wz-step>

    </wizard>


    <div class="btm-spacer"></div>
</section>
